*
.*
!assignments
!assignments/
!assignments/*/
!assignments/**
!note/
!note/src/
!note/src/*/
!note/src/**/*.tex
!note/src/*.bib
!note/*.pdf
!note/src/*.sty
!note/src/figures/*
!.gitignore
!slides/CSE586/*.pdf
!slides/EECS477/*.pdf

